/*Variables*/
/*animation*/
.fade-show {
  -webkit-animation-name: fade-show;
  animation-name: fade-show;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-name: fade-show;
  -webkit-animation-duration: 2s;
}

@-webkit-keyframes fade-show {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-show {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}

/*Main CSS*/
body {
  font-family: 'Work Sans', sans-serif;
  background-color: #D8F5FD;
  background-image: url(../images/mountain.png);
  background-size: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*Header*/
/*Navbar*/
.nav-container-top {
  background-color: #FF7A00;
  height: 5vw;
  padding: 0;
}

nav {
  width: 2.5vw;
  height: 5vw;
  overflow: hidden;
  position: relative;
  width: 30%;
}

.dropdown.open .dropdown-nav {
  display: block;
  margin-top: 5vw;
}

.dropdown-label {
  width: 5vw;
  height: 5vw;
  border-left: 3px solid #FFFFFF;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  background-image: url(../images/arrow.png);
  background-size: 100%;
}

.dropdown-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: none;
  cursor: pointer;
  width: 100%;
  position: absolute;
  right: 0;
}

.dropdown-nav li > a {
  text-decoration: none;
  color: white;
  background: #FF7A00;
  display: block;
  padding: 2% 2%;
  border-bottom: 1px solid #FFFFFF;
  border-top: 1px solid #FFFFFF;
  font-size: 1.8vw;
  text-align: left;
}

.fa-arrow-alt-circle-right {
  position: absolute;
  left: 2%;
}

.dropdown-nav li > a > i {
  position: relative;
  right: 2%;
  left: 1%;
}

.sq-top {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.dropdown-nav li > a:hover {
  color: #FF7A00;
  background-color: #ffd5ad;
  cursor: pointer;
}

.nav-header > h3 {
  position: absolute;
  top: 14px;
  left: 5%;
  text-align: left;
  font: 2vw/2.1vw "Roboto", sans-serif;
  color: #FFFFFF;
  padding: 2px;
  border-top: 2px solid #FFFFFF;
  border-bottom: 2px solid #FFFFFF;
}

/*Header images*/
.header-top {
  width: 32vw;
  height: 32vw;
  margin: 14vw 0 0 12vw;
  background-color: #FF7A00;
  color: #FFFFFF;
  padding: 2.5vw 5vw 0;
  opacity: 0.8;
}

.header-top h2 {
  border-top: 2px solid #FFFFFF;
  border-bottom: 2px solid #FFFFFF;
  font: 2.5vw "Roboto", sans-serif;
  margin-bottom: 2vw;
}

.header-top p {
  font-size: 1vw;
}

.header-top a {
  color: #FF7A00;
  text-decoration: none;
  background-color: #FFFFFF;
  font-size: 1vw;
  font-weight: bold;
  border-radius: 2px;
  padding: 1px 2px;
  position: relative;
  left: 64%;
}

.top-image-hero {
  position: relative;
  width: 50vw;
  height: 38vw;
  left: 41vw;
  top: -35.5vw;
  z-index: -1;
}

.main-container-top {
  height: 125vw;
  width: 100%;
  border-left: 99.8vw solid #D8F5FD;
  border-top: 12vw solid transparent;
  border-bottom: 12vw solid transparent;
  padding: 0;
  margin: -17vw 0 0;
}

.row {
  margin: 0;
}

.main-col-left {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  position: absolute;
  width: 35%;
  left: 7vw;
  color: #FF7A00;
  padding: 1vw 3vw 1vw 7vw;
}

.main-col-left h2 {
  font: bold 2.8vw "Roboto", sans-serif;
  margin: 0 0 2vw -7vw;
}

.main-col-left h2 > span {
  margin-left: 7vw;
}

.main-col-left > p {
  font-size: 1.5vw;
  padding-right: 4vw;
}

.main-col-left > div {
  padding-top: 15vw;
  display: block;
}

.main-col-left > div > p {
  display: inline-block;
  line-height: 1;
  font-size: 1.2vw;
}

.main-col-left > div > span {
  font-size: 3vw;
  font-weight: bold;
  padding: 5px;
  display: inline-block;
  margin-left: 11vw;
  opacity: .55;
}

.main-col-right {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  position: absolute;
  width: 35%;
  right: 3vw;
  color: #FF7A00;
  padding: 8vw 3vw 1vw 5vw;
}

.main-col-right > h4 {
  padding: 7vw 0 1.2vw 0;
  font-size: 1.7vw;
  font-weight: bold;
}

.main-col-right > p {
  font-size: 1.2vw;
  line-height: 1.3;
}

.main-col-right > span {
  font-size: 1.2vw;
  font-weight: bold;
}

.img-main-top-lift {
  position: absolute;
  left: -3vw;
  top: 154vw;
  width: 55vw;
  height: 45vw;
}

.main-container-bottom {
  height: 137vw;
  width: 100%;
  border-right: 99.8vw solid #FFFFFF;
  border-top: 12vw solid transparent;
  border-bottom: 12vw solid transparent;
  padding: 0;
  margin: -17vw 0 0;
}

.main-bottom-left {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  position: absolute;
  width: 35%;
  top: 205.5vw;
  left: 5vw;
  color: #FF7A00;
  padding: 0vw 3vw 1vw 7vw;
}

.main-bottom-left > div {
  padding-bottom: 2.5vw;
  display: block;
}

.main-bottom-left > div > p {
  display: inline-block;
  line-height: 1;
  font-size: 1.2vw;
}

.main-bottom-left > div > span {
  font-size: 4vw;
  font-weight: bold;
  padding: 5px;
  display: inline-block;
  margin-left: -5vw;
  opacity: .55;
}

.main-bottom-left h5 {
  font-size: 1.1vw;
  font-weight: bold;
  padding: 5vw 5vw 2vw 2vw;
}

.main-bottom-left img {
  margin: 3vw 0 3vw -9vw;
  width: 42vw;
  height: 27vw;
}

.main-bottom-left > p {
  font-size: 1.2vw;
  line-height: 1.3;
  padding: 1vw 5vw 1vw 2vw;
}

.main-bottom-right {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  position: absolute;
  width: 35%;
  right: 3vw;
  color: #FF7A00;
  padding: 3vw 3vw 1vw 5vw;
}

.main-bottom-right > h2 {
  font: bold 2.8vw "Roboto", sans-serif;
  margin: 0 0 2vw -7vw;
}

.main-bottom-right > h2 > span {
  margin-left: 7vw;
}

.main-bottom-right > p {
  font-size: 1.2vw;
  line-height: 1.3;
}

.main-bottom-right > img {
  width: 40vw;
  height: 27vw;
  margin: 3vw 0 3vw -5vw;
}

.indonesia {
  font-size: 1.2vw;
  margin: 3vw 0 0 -4vw;
}

.mexico {
  font-size: 1.2vw;
  margin: 3vw 0 0;
}

.canada {
  font-size: 1.2vw;
  margin: 3vw 0 0 4vw;
}

.main-bottom-right > div > span {
  font-size: 4vw;
  font-weight: bold;
  padding: 5px;
  display: inline-block;
  margin-left: -5vw;
  opacity: .55;
}

.main-bottom-right > span {
  display: block;
  font-size: 1.2vw;
  font-weight: bold;
  margin: 3vw 0 3vw 15vw;
}

.main-bottom-right > div > .p-bottom {
  display: inline-block;
  line-height: 1;
  font-size: 1.2vw;
}

.main-bottom-right > div > .span-bottom {
  font-size: 4vw;
  font-weight: bold;
  padding: 5px;
  display: inline-block;
  margin-left: -5vw;
  opacity: .55;
}

.main-bottom-right > div > .span-circle-bottom {
  font-size: 4vw;
  font-weight: bold;
  padding: 5px;
  display: inline-block;
  margin-left: 0.5vw;
  opacity: .55;
}

/*boards*/
.bottom-board {
  padding-bottom: 15vw;
  background-image: url(../images/bg-holder.png);
  background-size: 100%;
  background-repeat: repeat-y;
}

.container-bottom {
  width: 90%;
  position: relative;
  top: 5vw;
  overflow: hidden;
}

.left-block-blue:hover {
  text-decoration: none;
  cursor: pointer;
}

.block-blue-content {
  background-color: #004381;
  padding: 0;
  margin: 0 4vw 2vw;
  width: 90%;
}

.board-figure-blue {
  color: #FFFFFF;
  font-size: 3vw;
  text-align: center;
  margin: auto;
}

.board-text-blue {
  background-color: #FFFFFF;
  color: #004381;
  border: 5px solid #004381;
}

.board-text-blue h4, .board-text-orange h4 {
  padding-top: 0.2vw;
  font-size: 1.2vw;
  font-weight: bold;
}

.board-text-blue ul, .board-text-orange ul {
  font-size: 0.9vw;
  padding: 0;
  margin-left: 12px;
}

.block-orange-content {
  background-color: #FF7A00;
  padding: 0;
  margin: 0 4vw 2vw;
  width: 90%;
}

.board-figure-orange {
  color: #FFFFFF;
  font-size: 3vw;
  text-align: center;
  margin: auto;
}

.board-text-orange {
  background-color: #FFFFFF;
  color: #FF7A00;
  border: 5px solid #FF7A00;
}

.footer-mountains {
  margin-top: -10vw;
  width: 100%;
  position: relative;
  top: 1.5vw;
}

footer {
  position: relative;
  top: 1.5vw;
  background-color: #004381;
  width: 100%;
}

footer p {
  color: #FFFFFF;
  text-align: center;
  padding: 1vw 0;
  margin: 0;
}

/*Response*/
@media (min-width: 701px) and (max-width: 875px) {
  .header-top {
    height: 35vw;
  }
}

@media (min-width: 50px) and (max-width: 700px) {
  .nav-container-top {
    height: 10vw;
  }
  nav {
    width: 5vw;
    height: 10vw;
  }
  .dropdown.open .dropdown-nav {
    margin-top: 10vw;
  }
  .dropdown-label {
    width: 10vw;
    height: 10vw;
  }
  .nav-header > h3 {
    top: 2vw;
    font: 3.5vw/3.7vw "Roboto", sans-serif;
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
  }
  /*Header images*/
  .header-top {
    width: 72vw;
    height: 55vw;
    margin: 20vw 0 0 12vw;
    padding: 2.5vw 5vw 0;
  }
  .header-top h2 {
    font: 4vw "Roboto", sans-serif;
    margin-bottom: 2vw;
  }
  .header-top p {
    font-size: 2.2vw;
  }
  .header-top a {
    font-size: 2.2vw;
    border-radius: 2px;
    left: 72%;
  }
  .top-image-hero {
    width: 60vw;
    height: 48vw;
    left: 31vw;
    top: -5.5vw;
  }
  .main-container-top {
    height: 345vw;
    margin: -5vw 0 0;
  }
  .main-col-left {
    width: 75%;
  }
  .main-col-left h2 {
    font: bold 4.5vw "Roboto", sans-serif;
    margin: 0 0 2vw -10vw;
  }
  .main-col-left h2 > span {
    margin-left: 10vw;
  }
  .main-col-left > p {
    font-size: 3vw;
  }
  .main-col-left > div {
    padding-top: 10vw;
  }
  .main-col-left > div > p {
    font-size: 2.2vw;
  }
  .main-col-left > div > span {
    font-size: 6vw;
    margin-left: 10vw;
  }
  .main-col-right {
    width: 75%;
    padding: 75vw 3vw 1vw 5vw;
  }
  .main-col-right > h4 {
    font-size: 3.4vw;
  }
  .main-col-right > p {
    font-size: 2.4vw;
  }
  .main-col-right > span {
    font-size: 2.4vw;
  }
  .img-main-top-lift {
    top: 374vw;
    width: 75vw;
    height: 65vw;
  }
  .main-container-bottom {
    height: 350vw;
    margin: -12vw 0 0;
  }
  .main-bottom-left {
    width: 75%;
    top: 490vw;
  }
  .main-bottom-left > div {
    padding-bottom: 3vw;
  }
  .main-bottom-left > div > p {
    font-size: 2.5vw;
  }
  .main-bottom-left > div > span {
    font-size: 7vw;
  }
  .main-bottom-left h5 {
    font-size: 2.4vw;
    margin-top: 60vw;
  }
  .main-bottom-left img {
    margin: 90vw 0 3vw -9vw;
    width: 72vw;
    height: 55vw;
  }
  .main-bottom-left > p {
    font-size: 2.4vw;
  }
  .main-bottom-right {
    width: 75%;
  }
  .main-bottom-right > h2 {
    font: bold 4.5vw "Roboto", sans-serif;
    margin: 0 0 2vw -10vw;
    padding-right: 17vw;
  }
  .main-bottom-right > h2 > span {
    margin-left: 10vw;
  }
  .main-bottom-right > p {
    font-size: 2.4vw;
  }
  .main-bottom-right > img {
    width: 70vw;
    height: 50vw;
    margin: 50vw 0 3vw -5vw;
  }
  .indonesia {
    font-size: 2.4vw;
    margin: 25vw 0 0 -4vw;
  }
  .mexico {
    font-size: 2.4vw;
    margin: 3vw 0 0 4vw;
  }
  .canada {
    font-size: 2.4vw;
    margin: 3vw 0 0 11vw;
  }
  .main-bottom-right > div > span {
    font-size: 3vw;
  }
  .main-bottom-right > span {
    font-size: 2.4vw;
    margin: 3vw 0 3vw 25vw;
  }
  .main-bottom-right > div > .p-bottom {
    font-size: 2.4vw;
  }
  .main-bottom-right > div > .span-bottom {
    font-size: 3vw;
  }
  .main-bottom-right > div > .span-circle-bottom {
    font-size: 7vw;
  }
  /*boards*/
  .board-text-blue {
    padding-bottom: 5vw;
  }
  .board-text-blue h4, .board-text-orange h4 {
    font-size: 2.5vw;
  }
  .board-text-blue ul, .board-text-orange ul {
    font-size: 2vw;
  }
  footer p {
    font-size: 3vw;
  }
}
