/*Variables*/
/*animation*/
.fade-show {
  -webkit-animation-name: fade-show;
  animation-name: fade-show;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-name: fade-show;
  -webkit-animation-duration: 2s;
}

@-webkit-keyframes fade-show {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-show {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}

/*Main CSS*/
body {
  font-family: 'Work Sans', sans-serif;
  background-color: #D8F5FD;
  background-image: url(../images/mountain.png);
  background-size: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*Header*/
/*Navbar*/
.nav-container-top {
  background-color: #FF7A00;
  height: 5vw;
  padding: 0;
}

nav {
  width: 2.5vw;
  height: 5vw;
  overflow: hidden;
  position: relative;
  width: 30%;
}

.dropdown.open .dropdown-nav {
  display: block;
  margin-top: 5vw;
}

.dropdown-label {
  width: 5vw;
  height: 5vw;
  border-left: 3px solid #FFFFFF;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  background-image: url(../images/arrow.png);
  background-size: 100%;
}

.dropdown-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: none;
  cursor: pointer;
  width: 100%;
  position: absolute;
  right: 0;
}

.dropdown-nav li > a {
  text-decoration: none;
  color: white;
  background: #FF7A00;
  display: block;
  padding: 2% 2%;
  border-bottom: 1px solid #FFFFFF;
  border-top: 1px solid #FFFFFF;
  font-size: 1.8vw;
  text-align: left;
}

.fa-arrow-alt-circle-right {
  position: absolute;
  left: 2%;
}

.dropdown-nav li > a > i {
  position: relative;
  right: 2%;
  left: 1%;
}

.sq-top {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.dropdown-nav li > a:hover {
  color: #FF7A00;
  background-color: #ffd5ad;
  cursor: pointer;
}

.nav-header > h3 {
  position: absolute;
  top: 14px;
  left: 5%;
  text-align: left;
  font: 2vw/2.1vw "Roboto", sans-serif;
  color: #FFFFFF;
  padding: 2px;
  border-top: 2px solid #FFFFFF;
  border-bottom: 2px solid #FFFFFF;
}

/*Header images*/
.snowborder {
  position: absolute;
  width: 50vw;
  height: 40vw;
  top: 21%;
  left: 15%;
  -webkit-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}

.header-mark-text {
  position: absolute;
  top: 38%;
  right: 20%;
  width: 25vw;
  height: 17vw;
  background-color: #FF7A00;
  border-radius: 3px 3px 0px 0px;
  opacity: 0.9;
  color: #FFFFFF;
  font: 2.5vw/2.7vw "Roboto", sans-serif;
}

.header-mark-text p {
  margin: 0.5% 12%;
}

.header-mark-text hr {
  width: 20vw;
  border: 1px solid #FFFFFF;
  height: 0;
  margin: 8% 10%;
}

/*main*/
.main-container {
  color: #FF7A00;
  position: relative;
  top: 75vw;
  padding: 4.5vw 10vw 7vw 12vw;
  background-color: #D8F5FD;
  font-size: 1.2vw;
}

.main-container h2 {
  font: bold 2.8vw "Roboto", sans-serif;
  margin: 0 0 3vw -6.7vw;
}

.learn-more {
  background-color: #FF7A00;
  color: #FFFFFF;
  font-size: 1.2vw;
  font-weight: bold;
  padding: 0.5vw 1.5vw;
  display: inline-block;
  border-radius: 1vw;
  opacity: 0.8;
  position: absolute;
  right: 10vw;
  cursor: pointer;
}

.learn-more a {
  color: #FFFFFF;
  text-decoration: none;
}

.row {
  width: 100%;
}

.image-container {
  position: relative;
  overflow: hidden;
  height: 35vw;
  width: 55vw;
  top: 110vw;
  left: 1.5vw;
}

.image-container img {
  position: absolute;
  right: -10vw;
  width: 50vw;
  height: 35vw;
}

.bottom-board {
  padding-bottom: 11vw;
  background-image: url(../images/bg-holder.png);
  background-size: 100%;
  background-repeat: repeat-y;
}

.container-bottom {
  width: 90%;
  position: relative;
  top: 110vw;
  overflow: hidden;
}

.left-block-blue:hover {
  text-decoration: none;
  cursor: pointer;
}

.block-blue-content {
  background-color: #004381;
  padding: 0;
  margin: 0 4vw 2vw;
  width: 90%;
}

.board-figure-blue {
  color: #FFFFFF;
  font-size: 3vw;
  text-align: center;
  margin: auto;
}

.board-text-blue {
  background-color: #FFFFFF;
  color: #004381;
  border: 5px solid #004381;
}

.board-text-blue h4, .board-text-orange h4 {
  padding-top: 0.2vw;
  font-size: 1.2vw;
  font-weight: bold;
}

.board-text-blue ul, .board-text-orange ul {
  font-size: 0.9vw;
  padding: 0;
  margin-left: 12px;
}

.block-orange-content {
  background-color: #FF7A00;
  padding: 0;
  margin: 0 4vw 2vw;
  width: 90%;
}

.board-figure-orange {
  color: #FFFFFF;
  font-size: 3vw;
  text-align: center;
  margin: auto;
}

.board-text-orange {
  background-color: #FFFFFF;
  color: #FF7A00;
  border: 5px solid #FF7A00;
}

.cont-right-marg {
  margin-top: 11vw;
}

.footer-mountains {
  width: 100%;
  position: relative;
  top: 96vw;
}

footer {
  position: relative;
  top: 96vw;
  background-color: #004381;
  width: 100%;
}

footer p {
  color: #FFFFFF;
  text-align: center;
  padding: 1vw 0;
}

/*Response*/
@media (min-width: 380px) and (max-width: 767px) {
  .nav-container-top {
    height: 10vw;
  }
  nav {
    width: 5vw;
    height: 10vw;
  }
  .dropdown.open .dropdown-nav {
    margin-top: 10vw;
  }
  .dropdown-label {
    width: 10vw;
    height: 10vw;
  }
  .nav-header > h3 {
    font: 3.5vw/3.7vw "Roboto", sans-serif;
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
  }
  .snowborder {
    top: 15%;
  }
  .header-mark-text {
    top: 22%;
  }
  .main-container {
    top: 100vw;
    font-size: 1.9vw;
  }
  .image-container {
    top: 100vw;
    left: 63%;
  }
  .board-text-blue h4, .board-text-orange h4 {
    font-size: 2.2vw;
  }
  .board-text-blue ul, .board-text-orange ul {
    font-size: 2vw;
  }
  .cont-right-marg {
    margin-top: 0;
  }
}

@media (min-width: 0px) and (max-width: 380px) {
  .nav-container-top {
    height: 15vw;
  }
  nav {
    width: 7.5vw;
    height: 15vw;
  }
  .dropdown.open .dropdown-nav {
    margin-top: 15vw;
  }
  .dropdown-label {
    width: 15vw;
    height: 15vw;
  }
  .nav-header > h3 {
    top: 3px;
    font: 3.5vw/3.7vw "Roboto", sans-serif;
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
  }
  .snowborder {
    top: 7%;
  }
  .header-mark-text {
    top: 11%;
  }
  .main-container {
    top: 80vw;
    font-size: 2.5vw;
  }
  .image-container {
    top: 100vw;
    left: 65%;
  }
  .block-blue-content {
    margin: 0 1vw 1vw;
    width: 100%;
  }
  .block-orange-content {
    margin: 0 1vw 1vw;
    width: 100%;
  }
  .board-text-blue h4, .board-text-orange h4 {
    font-size: 2.2vw;
  }
  .board-text-blue ul, .board-text-orange ul {
    font-size: 2vw;
  }
  .cont-right-marg {
    margin-top: 0vw;
  }
}
